<div class="cartTitlePage">
  <h1>Carrito de Compras</h1>
</div>

<div class="cartProductsContainer">
  {{#each cart}}
    <div class="cartProduct">
      <img
        class="cartProductImg"
        src="{{pid.thumbnails}}"
        alt="{{pid.title}}"
      />
      <h2 class="cartProductTitle">Nombre: {{pid.title}}</h2>
      <h2 class="cartProductPrice">Precio: ${{pid.price}}</h2>
      <h2>Cantidad: {{quantity}}</h2>
    </div>
  {{/each}}
</div>